* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 130%;
}

input,
button,
textarea {
  font-family: sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  cursor: pointer;
  --bs-link-hover-color: #ffffff;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.75);
  font-family: sans-serif;
}

.page {
  height: 100%;
  padding: 50px 0;
  overflow: hidden;
}

.container {
  position: relative;
}

.bg-img {
  --pb: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  right: 0;
  padding-bottom: var(--pb);
  display: block;
  opacity: 0.5;
  z-index: -1;
}
.bg-img > img,
.bg-img > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.num-list {
  counter-reset: olcounter;
}
.num-list li {
  counter-increment: olcounter;
  list-style: none;
  font-size: 18px;
  display: flex;
  gap: 8px;
}
.num-list li:not(:last-child) {
  margin-bottom: 15px;
}
.num-list li::before {
  content: counter(olcounter, decimal-leading-zero);
  line-height: 125%;
  letter-spacing: -0.32px;
  height: 25px;
  width: 25px;
  flex: 0 0 25px;
  background-color: #42b883;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  margin-top: -2px;
}

.goole-icon {
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goole-icon > div:first-child {
  border: 1px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
}
.goole-icon img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.animate--blink {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: blink-text;
          animation-name: blink-text;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes blink-text {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes blink-text {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}