* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:focus,
:active {
    // outline: none;
}
a:focus,
a:active {
    // outline: none;
}
html,
body {
    height: 100%;
    min-width: 320px;
}
body {
    line-height: 130%;
}
input,
button,
textarea {
    font-family: sans-serif;
    font-size: inherit;
}
button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}
a {
    color: inherit;
    cursor: pointer;
    --bs-link-hover-color: #ffffff;
}
a:link,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
