<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task5</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <!-- Задача 5. Додаток містить масив об’єктів (логін, пароль) -- 
     інсуючі логіни і паролі. Користувач вводить логін і пароль, а програма 
     повідомляє чи може користувач бути авторизованим (чи є він одним з масиву). -->

    <div id="app">
        <div class="page">
            <div class="container">
                <h1>Задача 5.</h1>
                <div class="mb-2">
                    <label>
                        Login
                        <input class="form-control" type="text" v-model="login">
                    </label>
                </div>
                <div>
                    <label>
                        Password
                        <input class="form-control" type="password" v-model="password">
                    </label>
                </div>
                <hr>
                <button class="btn btn-success" type="submit" @click="authLogin">Go</button>
            </div>
        </div>
    </div>
    <script>
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    login: '',
                    password: '',
                    users: [
                        { login: 'user1', password: 'password1' },
                        { login: 'user2', password: 'password2' },
                        { login: 'user3', password: 'password3' },
                        { login: 'user4', password: 'password4' },
                        { login: 'user5', password: 'password5' },
                        { login: 'user6', password: 'password6' },
                        { login: 'user7', password: 'password7' },
                        { login: 'user8', password: 'password8' },
                        { login: 'user9', password: 'password9' },
                        { login: 'user10', password: 'password10' }
                    ],
                    isAuthorized: false,
                }
            },
            methods: {
                authLogin() {
                    const user = this.users.find((el) => {
                        return el.login === this.login && el.password === this.password
                    })
                    if (user) return alert("Успішна авторизація")
                    else return alert("Невірно введений логін чи пароль")
                }
            },
            computed: {

            }
        }).mount('#app')
    </script>
</body>

</html>